<section>
  <div class="header">
    <h1 class="heading-text">{{headerValue.headerValue}}</h1>
  </div>
  <div class="training-card">
  <ng-container *ngFor="let data of headerValue.cardData">
      <div class="card">
        <div class="image">
          <figure>
            <img src="../../../../../../assets/images/ic-training.svg">
          </figure>
        </div>
        <div class="content">
          <div class="topContent">
            <h1 class="title">{{data.title}}</h1>
            <span class="completeStatus">
              <p class="status">{{data.completeHeading}}</p>
            </span>
          </div>
          <div class="middleContent">
            <div class="labels">
              <h4 class="label">{{headerValue.label1}}</h4>
              <h4 class="label">{{headerValue.label2}}</h4>
              <h4 class="label">{{headerValue.label3}}</h4>
            </div>
            <div class="labelData">
              <h2 class="labelsData">{{data.label1Data}}</h2>
              <h2 class="labelsData">{{data.label2Data}}</h2>
              <h2 class="labelsData">{{data.label3Data}}</h2>
            </div>
          </div>
          <div class="buttonGroup">
            <button class="view" mat-raised-button>{{headerValue.buttonView}}</button>
            <button class="classyButton">{{headerValue.buttonFeedback}}</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
