<section>
  <div class="top-container">
    <ng-container *ngFor="let item of uiText.leave_data">
      <div class="leave-type-data">
        <div class="leave">
          <mat-icon class="text-success">event</mat-icon>
          <div class="leave-data">
            <h3 class="leave-balance">{{item.leave_title}}</h3>
            <h3 class="leave-balance">{{item.leave_balance}}</h3>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="middle-container">
    <form [formGroup]="myLeaveForm">
    <app-addnew [title]="uiText.add_leave" [button]="uiText.add_button" (buttonToggle)="showDiv($event)"
    [labelData]="uiText.reason_label" [formControlname]="this.myLeaveFormControl.editor">
        <div class="formfield">
          <label class="label">{{uiText.type_label}}</label>
          <mat-form-field appearance="outline" class="typeformfield" >
            <mat-select formControlName="typeData">
              <mat-option *ngFor="let option of uiText.type_dropdown_data" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="half-day" *ngIf="myLeaveFormControl['typeData'].value != 'shortleave' && myLeaveFormControl['typeData'].value != 'allleave'">
          <mat-checkbox class="half-day-checkbox" formControlName="halfDay">{{uiText.half_day_label}}</mat-checkbox>
          <div class="radiobutton" *ngIf="myLeaveFormControl['halfDay'].value ==true">
            <mat-radio-group formControlName="halfTime">
              <mat-radio-button class="example-margin" value="1st">1st Half</mat-radio-button>
              <mat-radio-button class="example-margin" value="2nd">2nd Half</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="shorttime" *ngIf="myLeaveFormControl['typeData'].value == 'shortleave'">
          <div class="formfield" >
            <label class="label">{{uiText.start_time_label}}</label>
            <mat-form-field appearance="outline" >
              <mat-select formControlName="typeData">
              </mat-select>
            </mat-form-field>
          </div>
          <div class="formfield">
            <label class="label">{{uiText.end_time_label}}</label>
            <mat-form-field appearance="outline" >
              <mat-select formControlName="typeData">
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="allLeaveInstruction" *ngIf="myLeaveFormControl['typeData'].value == 'allleave'">
          <ul *ngFor="let item of uiText.all_leave_instruction">
            <li>{{item}}</li>
          </ul>
        </div>
        <div class="datefield">
          <div class="formfield 3">
            <label class="label">{{uiText.start_date_label}}</label>
            <mat-form-field appearance="outline" class="increaseFormfield">
              <input matInput [matDatepicker]="picker1" formControlName="startDate" readonly>
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="formfield 3">
            <label class="label">{{uiText.end_date_label}}</label>
            <mat-form-field appearance="outline" class="increaseFormfield">
              <input matInput [matDatepicker]="picker2" formControlName="endDate" readonly>
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="formfield">
          <label class="label">{{uiText.remarks_label}}</label>
          <mat-form-field appearance="outline">
            <input formControlName="remarks" matInput>
          </mat-form-field>
        </div>
        <div class="formfield 2">
          <label class="label">{{uiText.upload_label}}</label>
          <div class="input-file">
            <input formControlName="upload" type="file">
          </div>
        </div>
        <div class="buttonGroup">
          <button class="saveButton" mat-raised-button (click)="submit()">{{uiText.save_button}}</button>
          <button class="cancelButton" mat-raised-button>{{uiText.cancel_button}}</button>
        </div>
    </app-addnew>
  </form>
    <!-- <div class="title">
      <h1 class="title-text">{{uiText.add_leave}}</h1>
      <div class="buttonGroup" (click)="showDiv()">
        <mat-icon class="addIcon">add</mat-icon>
        <button class="add-new">
          {{uiText.add_new_button}}
        </button>
      </div>
    </div> -->
    <!-- <div  *ngIf="requestShow">
      <form class="add-leave" [formGroup]="myLeaveForm">
        <div class="left container">
          <div class="formfield">
            <label class="label">{{uiText.type_label}}</label>
            <mat-form-field appearance="outline" >
              <mat-select formControlName="typeData">
                <mat-option *ngFor="let option of uiText.type_dropdown_data" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="half-day" *ngIf="myLeaveFormControl['typeData'].value != 'shortleave' && myLeaveFormControl['typeData'].value != 'allleave'">
            <mat-checkbox class="half-day-checkbox" formControlName="halfDay">{{uiText.half_day_label}}</mat-checkbox>
            <div class="radiobutton" *ngIf="myLeaveFormControl['halfDay'].value ==true">
              <mat-radio-group formControlName="halfTime">
                <mat-radio-button class="example-margin" value="1st">1st Half</mat-radio-button>
                <mat-radio-button class="example-margin" value="2nd">2nd Half</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="shorttime" *ngIf="myLeaveFormControl['typeData'].value == 'shortleave'">
            <div class="formfield" >
              <label class="label">{{uiText.start_time_label}}</label>
              <mat-form-field appearance="outline" >
                <mat-select formControlName="typeData">
                </mat-select>
              </mat-form-field>
            </div>
            <div class="formfield">
              <label class="label">{{uiText.end_time_label}}</label>
              <mat-form-field appearance="outline" >
                <mat-select formControlName="typeData">
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="allLeaveInstruction" *ngIf="myLeaveFormControl['typeData'].value == 'allleave'">
            <ul *ngFor="let item of uiText.all_leave_instruction">
              <li>{{item}}</li>
            </ul>
          </div>
          <div class="datefield">
            <div class="formfield 3">
              <label class="label">{{uiText.start_date_label}}</label>
              <mat-form-field appearance="outline" class="increaseFormfield">
                <input matInput [matDatepicker]="picker1" formControlName="startDate" readonly>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="formfield 3">
              <label class="label">{{uiText.end_date_label}}</label>
              <mat-form-field appearance="outline" class="increaseFormfield">
                <input matInput [matDatepicker]="picker2" formControlName="endDate" readonly>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="formfield">
            <label class="label">{{uiText.remarks_label}}</label>
            <mat-form-field appearance="outline">
              <input formControlName="remarks" matInput>
            </mat-form-field>
          </div>
          <div class="formfield 2">
            <label class="label">{{uiText.upload_label}}</label>
            <div class="input-file">
              <input formControlName="upload" type="file">
            </div>
          </div>
          <div class="buttonGroup">
            <button class="saveButton" mat-raised-button (click)="submit()">{{uiText.save_button}}</button>
            <button class="cancelButton" mat-raised-button>{{uiText.cancel_button}}</button>
          </div>
        </div>
        <div class="right container">
          <div class="formfield 2">
            <label class="label">{{uiText.reason_label}}</label>
            <editor [init]="{
          height: 300,
          plugins: [
             'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
            'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
            'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
          ],
          toolbar:
           'undo redo | casechange blocks | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
        }" formControlName="editor"></editor>
          </div>
        </div>
      </form>
    </div> -->
  </div>
  <div class="last-container">
    <div class="content">
      <div class="header">
        <h1 class="header-text">{{uiText.list_leave}}</h1>
      </div>
      <app-common-table [columns]="heading" [dataSource]="dataSource" [isPageable]="true" [isSearchText]="true">
      </app-common-table>
    </div>
  </div>
</section>
