<section>
  <div class="header">
    <p class="header-text">{{uiMessage.HEADER}}</p>
    <button class="header-button classyButton">{{uiMessage.HEADER_BUTTON}}</button>
  </div>
  <mat-card class="job-detail-card">
  <app-carousel [listToShow]="dataSource"></app-carousel>
    <ng-container *ngFor="let item of cardLogo">
    <ng-template #listofDivs>
        <div class="image">
          <figure>
            <img [src]="item.image" class="showImage">
          </figure>
          <div class="address">
            <div class="location">
              <i class="fa-solid fa-location-dot" id="location-icon"></i>
              <p class="location-name">{{item.LOCATION}}</p>
            </div>
            <div class="date">
              <p>{{item.DATE}}</p>
            </div>
          </div>
        </div>
        <div class="area">
          <h1>{{item.HEADING}}</h1>
          <p>{{item.TEXT}}</p>
        </div>
        <div class="requirement">
          <p>{{item.OPENING_NUMBER_TEXT}}</p>
          <p>{{item.EXPERIENCE}}</p>
        </div>
        <div class="requirement1">
          <p>{{item.OPENING_NUMBER}}</p>
          <p>{{item.EXPERIENCE_NUMBER}}</p>
        </div>
        <div class="buttonGroup">
          <button class="button-view">
            {{item.BUTTON_VIEW}}
          </button>
          <button class="button-refer classyButton">
            {{item.BUTTON_REFER}}
          </button>
        </div>
      </ng-template>
    </ng-container>
  </mat-card>
</section>

<!-- <section>
  <div class="card">
    <div class="header">
      <p class="text">{{uiMessage.HEADER}}</p>
    </div>
    <app-carousel [listToShow]="dataSource" [buttonShow]="buttonShow"></app-carousel>
    <ng-container *ngFor="let member of listOfNewFamilyMembers">
      <ng-template #listofDivs>
        <div class="img-card">
          <div class="content">
            <figure>
              <img src="../../../../../../assets/images/default_male.jpg" class="defaultImage">
            </figure>
            <div class="name">
              <p>{{uiMessage.EMP_NAME | titlecase}}</p>
            </div>
            <div class="designation">
              <p>{{uiMessage.DESIGNATION | titlecase}}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </div>
</section> -->
