<section>
  <div class="form">
    <form class="formGroup" [formGroup]="loginForm" (ngSubmit)="loginHandler()">
      <div class="inputFields">
        <div class="Input input-1">
          <label class="labels">{{loginMessage.EMAIL_LABEL}}</label>
          <mat-form-field appearance="fill">
            <input matInput [placeholder]="loginMessage.EMAIL_PLACEHOLDER" formControlName="email">
            <mat-error *ngFor="let error of errorMessage?.email">
              <mat-error *ngIf="loginForm?.get('email')?.hasError(error?.type)" class="alertMessage">
                <span class="errorMessage">{{error.message}}</span>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="Input input-2">
          <label class="labels">{{loginMessage.PASSWORD_LABEL}}</label>
          <mat-form-field appearance="fill">
            <input [placeholder]="loginMessage.PASSWORD_PLACEHOLDER" matInput (keydown.space)="$event.preventDefault()"
              formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <mat-error *ngFor="let error of errorMessage?.password">
              <mat-error *ngIf="loginForm?.get('password')?.hasError(error?.type)" class="alertMessage">
                <span class="errorMessage">

                  {{error.message}}</span>
              </mat-error>
            </mat-error>
            <mat-icon class="pointer" matSuffix (click)="hide = !hide">
              <span>{{hide ? 'visibility_off' : 'visibility'}}</span>
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
      <span class="forgot">
        <button class="forgotPassword"
          [routerLink]="['ABS_ACCOUNT_FORGOT_PASSWORD' | absoluteRouting]">{{loginMessage.FORGOT_PASSWORD}}</button>
      </span>
      <div class="button">
        <button class="icon" type="submit">
          <i class="fa-solid fa-user-lock"></i>
          <button class="loginButton" >{{loginMessage.LOGIN}}</button>
        </button>
      </div>
    </form>
  </div>
</section>
