.leftRs {
  position: absolute;
  top: -40px;
  bottom: 0;
  color:var( --caurosel-button-color);
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 50px;
  border: none;


}

.rightRs {
  position: absolute;
  top: -40px;
  bottom: 0;
  color:var( --caurosel-button-color);
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 0;
  border: none;
}

:host::ng-deep{

  .ngucarousel{
    position: initial !important;
  }
}
