@import "src/app/scss/_var.scss";
.leftRs {
  position: absolute;
  top: -40px;
  bottom: 0;
  // color:var( --caurosel-button-color);
  color: $button-color;
  font-weight: bold;
  font-size: 20px;
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 50px;
  border: none;
}

.rightRs {
  position: absolute;
  top: -40px;
  bottom: 0;
  // color:var( --caurosel-button-color);
  color: $button-color;
  font-weight: bold;
  font-size: 20px;
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 10px;
  border: none;
}

:host::ng-deep {
  .ngucarousel {
    position: initial !important;
  }
}
.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}
.myPoint li {
  display: inline-block;
  border-radius: 50%;
  // border: 2px solid rgba(0, 0, 0, 0.55);
  background: $award-text-color;
  padding: 4px;
  margin: 0 3px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
}
.myPoint li.active {
  background: #6b6b6b;
  transform: scale(1.2);
}
