@import "../../../../../scss/var";
@import "../../../../../scss/header";
section{
    .heading-text {
      font-size: 25px;
    }
  ::ng-deep{
    .mat-paginator-page-size {
      display: flex;
      align-items: baseline;
      margin-right: 8px;
      position: absolute;
      top: 35px !important;
      left: 35px !important;
    }
    .mat-paginator-range-label{
      margin: 0px 32px 0 42px !important;
    }
  }
}

