$button-color: #26b4ff;
$error-color:red;
$success-color:rgb(39, 136, 39);
$font-color:gray;
$button-text-color:white;
$border-color:gainsboro;
$layout-content-background:#F4F9FF;
$sidenav-hover-color:#3246d3;
$sidenav-scroll-color:#888;
$job-background-color: #F3F7FC;
$header-text-color:#3246d3;
$directory-header-color:#199CFF;
$directory-font-color:#96A5B8;
$directory-card-background-color:#f7f5ec;
$award-dot-color:#c136cd;
$award-text-color:#606167;
$award-img-name-color:darkgrey;
$birthday-dot-color:#36C4CD;
