@import "../../../../scss/mixins.scss";
$size: 90px;
$radius: 50%;
$font-size: 24px;
.container {
  margin: 15px 45px;

  .greetings {
    @include fpos(center, "");
    margin-left: -40px;

    .figure {
      border: 1px solid $border-color;
      border-radius: $radius;
      .defaultImage {
        width: $size;
        border-radius: $radius;
        height: $size;
        margin-bottom: -4px;
      }
    }
    .emp-name {
      margin: 10px 0px 0px -15px;
      .emp-greeting {
        font-size: $font-size;
        font-weight: 200;
        margin-bottom: 0px !important;
      }
      .emp-name {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: $font-size;
        color: #231e1e;
        font-weight: 700;
        line-height: 1.4;
        margin: 5px 0px 0px !important;
      }
    }
  }
  .middle-container {
    @include gridbox();
    gap: 20px;
    grid-template-columns: auto 26%;
    margin: 20px 0px;
    .mat-card {
      padding: 0px !important;
    }
    .program {
      display: flex;
      border: 1px solid $border-color;
      .joining {
        margin: 20px !important;
        max-width: 500px;
      }
      .border {
        border: 1px dashed $border-color;
      }
      .referral {
        margin: 20px !important;
      }
    }
    .new-member {
      padding: 20px !important;
      border: 1px solid $border-color;
    }
  }
  .latest-news {
    margin: 20px 0px;
    .program {
      padding: 0px !important;
    }
  }
  .gallery {
    .program-gallery {
      padding: 0px !important;
    }
  }
}


@media (max-width:1385px){
  .container {
    .joining {
      max-width: 300px !important;
    }
    .middle-container {
      .program {
        width: fit-content;
      }
    }
  }
}
@media (max-width:1219px){
  .container {
     margin: 15px 60px;
    .joining {
      max-width: 380px !important;
    }
    .middle-container {
      grid-template-columns: auto;
      .program {
        width: auto !important;
      }
    }
  }
}
@media (max-width:1166px){
  .container {
  margin: 15px 70px;
    .joining {
      max-width: 300px !important;
    }
    .middle-container {
      grid-template-columns: auto;
      .program {
        width: 630px !important;
      }
      .new-member {
        width: 590px;
      }
    }
    .latest-news{
      .program-news{
        width: 600px;
      }
    }
    .gallery{
      .program-gallery{
        width: 630px;
      }
    }
  }
}
@media (max-width:957px){
  .container {
  margin: 15px 140px;
  }
}
@media (max-width:782px){
  .container {
    margin: 15px 85px;
    .joining {
      max-width: 590px !important;
    }
    .middle-container {
      grid-template-columns: auto;
      .program {
        width: fit-content;
        flex-direction: column;
      }
      .new-member {
        width: 590px;
      }
    }
    .latest-news{
      .program-news{
        width: 600px;
      }
    }
    .gallery{
      .program-gallery{
        width: 630px;
      }
    }
  }
}
@media (max-width:727px){
  .container {
    margin: 15px 105px;
    .joining {
      max-width: 500px !important;
    }
    .middle-container {
      grid-template-columns: auto;
      .program {
        width: 510px !important;
        flex-direction: column;
      }
      .new-member {
        width: 460px;
      }
    }
    .latest-news{
      .program-news{
        width: 470px;
      }
    }
    .gallery{
      .program-gallery{
        width: 500px;
      }
    }
  }
}
@media (max-width:621px){
  .container {
  margin: 15px 45px !important;
  }
}
@media (max-width:561px){
    .container {
    .joining {
      max-width: 400px !important;
    }
    .middle-container {
      grid-template-columns: auto;
      .program {
        width: 450px !important;
        flex-direction: column;
      }
      .new-member {
        width: 410px;
      }
    }
    .latest-news{
      .program-news{
        width: 415px;
      }
    }
    .gallery{
      .program-gallery{
        width: 448px;
      }
    }
  }
}
@media (max-width:502px){
    .container {
      margin: 15px 55px !important;
    .joining {
      max-width: 400px !important;
    }
    .middle-container {
      grid-template-columns: auto;
      .program {
        width: 400px !important;
        flex-direction: column;
      }
      .new-member {
        width: 360px;
      }
    }
    .latest-news{
      .program-news{
        width: 370px;
      }
    }
    .gallery{
      .program-gallery{
        width: 400px;
      }
    }
  }
}
@media (max-width:461px){
    .container {
      margin: 15px 55px !important;
    .joining {
      max-width: 350px !important;
    }
    .middle-container {
      grid-template-columns: auto;
      .program {
        width: 350px !important;
        flex-direction: column;
      }
      .new-member {
        width: 300px;
      }
    }
    .latest-news{
      .program-news{
        width: 310px;
      }
    }
    .gallery{
      .program-gallery{
        width: 320px;
      }
    }
  }
}
@media(max-width:412px){
  .container{
    margin: 15px 10px !important;
  }
}
@media (max-width:366px){
  .container {
  margin: 15px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
    .joining {
      max-width: 300px !important;
    }
    .middle-container {
      grid-template-columns: auto;
      .program {
        width: 240px !important;
        flex-direction: column;
      }
      .new-member {
        width: 200px;
      }
    }
    .latest-news{
      .program-news{
        width: 210px;
      }
    }
    .gallery{
      .program-gallery{
        width: 240px;
      }
    }
  }
}
