<section>
  <div class="title">
    <h1 class="title-text">{{title}}</h1>
    <div class="buttonGroup" (click)="showDiv()">
      <mat-icon class="addIcon">add</mat-icon>
      <button class="add-new">
        {{button}}
      </button>
    </div>
  </div>
  <div class="content" *ngIf="requestShow">
    <div class="left container">
      <ng-content></ng-content>
    </div>
    <div class="right container">
      <div class="formfield">
        <label class="label">{{labelData}}</label>
        <editor [init]="{
      height: 300,
      plugins: [
         'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
        'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
        'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
      ],
      toolbar:
       'undo redo | casechange blocks | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
    }" [formControl]="formControlname" ></editor>
      </div>
    </div>
    <ng-content select=".buttonGroup"></ng-content>
    <ng-content select=".saveButton"></ng-content>
    <ng-content select=".cancelButton"></ng-content>

  </div>
</section>
