<section @slideInRight>
  <mat-card class="basic-card">
    <div class="header">
      <p class="header-text">{{uiMessage.CHANGE_PASSWORD_HEADER}}</p>
    </div>
    <div class="content">
      <form class="form" [formGroup]="forgotForm">
          <div class="formfield 1">
            <label class="label">{{labelMessage.OLD_PASSSW0RD}}</label>
            <mat-form-field appearance="outline" class="increaseFormfield">
              <input matInput [placeholder]="labelMessage.OLD_PASSSW0RD" formControlName="oldPassword">
            </mat-form-field>
          </div>
          <div class="formfield 2">
            <label class="label">{{labelMessage.NEW_PASSWORD}}</label>
            <mat-form-field appearance="outline" class="increaseFormfield">
              <input matInput [placeholder]="labelMessage.NEW_PASSWORD" formControlName="newPassword">
            </mat-form-field>
          </div>
          <div class="formfield 2">
            <label class="label">{{labelMessage.CONFIRM_PASSWORD}}</label>
            <mat-form-field appearance="outline" class="increaseFormfield">
              <input matInput [placeholder]="labelMessage.CONFIRM_PASSWORD" formControlName="confirmPassword">
            </mat-form-field>
          </div>
        <div class="classyButton">
          <button class="saveButton ">{{uiMessage.BUTTON}}</button>
        </div>
      </form>
    </div>
  </mat-card>
</section>
