@import "../../../../../scss/mixins.scss";
section {
  .card {
    .header {
      .text {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .img-card {
      background-image: url("../../../../../../assets/images/new-family-card.png");
      height: 442px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px;
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        figure {
          .defaultImage {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media (max-width:1781px){
  section{
    .img-card{
    width: 200px;
    justify-content: center;
    display: flex;
    max-height: 800px;
    }
  }
}
@media (max-width:1219px){
  section{
    .img-card{
    width: 210px !important;
    justify-content: center;
    display: flex;
    max-height: 800px;
    }
  }
}
@media (min-width:1220px) and (max-width:1585px){
  section {
    .img-card{
      width: 170px;
      }
    .card {
      .header {
        width: 120px;
      }
    }
  }
}
@media (max-width:1219px){
  section{
    .img-card{
    width: 170px;
    }
    .card {
      .header {
        width: auto;
      }
    }
  }
}

@media (min-width:686px)and (max-width:991px){
  section{
    .img-card{
    width: 300px;
    }
  }
}
@media (max-width:685px){
  section{
    .img-card{
      width: none !important
      ;
    }
  }
}
@media (max-width:414px){
  section {
    .card {
      .header {
        width: 120px;
      }
    }
  }
}
@media (max-width:361px){
  section {
    .img-card{
      width: 180px !important;
      }
  }
}
