@import "../../../../../scss/mixins.scss";
section {
  .card {
    .header {
      .text {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .img-card {
      background-image: url("../../../../../../assets/images/new-family-card.png");
      height: 442px;
      width: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px;
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        figure {
          .defaultImage {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
@media (min-width:1025px) and (max-width:1219px){
  section{
    .img-card{
      height: 380px;
    margin: 0px;
    }
  }
}
@media (min-width:700px) and (max-width:1024px){
  section{
    .img-card{
      height: 300px;
    margin: 0px;
    }
  }
}
