<section>
  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" [routerLink]="[navlist.routerLink]"
    [ngClass]="{'disable':!navlist.isActive}" routerLinkActive="active">
    <!-- <mat-icon>{{navlist.icon}}</mat-icon> -->
    <span class="list-content">
      <i class="sidenav-icon" [class]="navlist.icon"></i>
      <span class="sidenav-label" *ngIf="isShowing">
        <p>{{navlist.title}}</p>
        <i class="new-menu" [class]="navlist.rightIcon"></i>
      </span>
      <span>
        <mat-icon class="menu-button" [ngClass]="{ rotated: showSubmenu }" *ngIf="navlist.options">expand_more
        </mat-icon>
      </span>
    </span>
  </mat-list-item>
  <ng-container *ngIf="navlist.options">
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showSubmenu && isShowing">
      <span *ngFor="let item of navlist.options">
        <mat-list-item>
          <span class="sublist-content">
            <mat-icon class="sidenav-icon">{{item.subicon}}</mat-icon>
            <span class="sidenav-label">{{item.subTitle}}</span>
          </span>
        </mat-list-item>
      </span>
    </div>
  </ng-container>
</section>
