@import "src/app/scss/_var.scss";
@import "../../../../../../scss/dialog-cancel-icon";
section {
  padding: 1rem;
  width: 600px;
  height: 600px;
  overflow: hidden;
  .mat-dialog-container{
    border-radius: 20px;
    padding: 0px !important;
  }
  .image {
    display: flex;
    width: 600px;
    height: 550px;
  }
}
  ::ng-deep{
    .mat-dialog-container{
      border-radius: 20px;
      padding: 0px !important;
    }
    .cdk-overlay-dark-backdrop{
      background: rgba(0, 0, 0, 0.80);
    }
  }
@media (max-width:798px){
  section{
    width:auto;
    .image{
      width: fit-content;
    }
  }
}
