@import "../../.././../../scss/mixins.scss";
@import "../../../../../scss/var";
section {
  padding: 40px;
  .header {
    color: $directory-header-color;
    .heading-text {
      font-weight: 500;
    }
  }
  .table-card{
    background-color: $button-text-color;
    padding: 25px 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    .dropdownsField{
      display: flex;
      gap: 15px;
      .field{
        width: 20%;
      }
    }
  }
  ::ng-deep {
    .mat-paginator-range-label {
      position: absolute;
      left: 80px !important;
    }
    .mat-paginator-page-size {
      position: absolute;
      top: 220px !important;
      left: 80px !important;
    }
  }
}
