@import "../../scss/var";
section {
  table {
    width: 100%;
    th {
      border-top: 1px solid $border-color;
      font-size: 16px;
    color: black
    }
    tr {
      th {
        border-right: 1px solid $border-color;
        &:last-child {
          border-right: none !important;
        }
      }
    }
    .mat-column-demo-position {
      width: 32px;
      border-right: 1px solid currentColor;
      padding-right: 24px;
      text-align: center;
    }
    td.mat-cell:first-of-type {
      border-right: 1px solid $border-color;
    }

    .mat-row {
      &:nth-child(odd) {
        background-color: rgba(24, 28, 33, 0.025);
      }
    }
  }
}
