<section>
  <table mat-table *ngIf="dataSource" matSortStart="desc" [dataSource]="dataSource" matSort>
    <div class="data" *ngFor="let row of columns" [matColumnDef]="row.heading">
      <ng-container *ngIf="row.sort; else noSortable">
        <th class="isSort" mat-header-cell *matHeaderCellDef [mat-sort-header]="row.key">{{row.heading}}</th>
      </ng-container>
      <ng-template #noSortable>
        <th mat-header-cell *matHeaderCellDef>{{row.heading}}</th>
      </ng-template>
      <td mat-cell *matCellDef="let element; let i=index">
        <ng-container class="value" [ngSwitch]="row.type">
          <ng-container *ngSwitchCase="'text'">
            {{element[row.key]}}
          </ng-container>
          <ng-container *ngSwitchCase="'text_with_icon'">
            <ng-container *ngIf="element[row.type]=='1';else fileLogo">
                <img [src]="['/assets/images/design.svg']" class="imageLogo">
            </ng-container>
            <ng-template #fileLogo>
              <img [src]="['/assets/images/description_black_24dp.svg']" class="imageLogo">
            </ng-template>
            <span style="display:inline-flex ;">
              <p class="text-element">{{element[row.key]}}</p>
            </span>

          </ng-container>

          <ng-container *ngSwitchCase="'link'">
            <div class="download-link">
            <a [href]="element.link" class="dataLink" download>{{element[row.key]}}
              <img [src]="'/assets/images/ic-download.svg'">
            </a>
          </div>
          </ng-container>
          <!-- <ng-container *ngSwitchCase="'action'">
            <div class="actionIcon">
              <ng-container *ngFor="let icon of row.action; let i=index;">
                <mat-icon class="showIcon">visibility</mat-icon>
                <mat-icon class="showIcon">archive</mat-icon>
                <mat-icon class="showIcon">block</mat-icon>
                <mat-icon class="showIcon">delete_outline</mat-icon>
              </ng-container>
            </div>
          </ng-container> -->
        </ng-container>
      </td>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="noData" colspan="8" style="text-align: center;">{{uiMessage.NO_DATA}}</td>
    </tr>
  </table>

  <mat-paginator appPaginator [length]="this.dataSource?.length" *ngIf="isPageable" [pageSizeOptions]="paginationSizes"
  [hidePageSize]="false">
</mat-paginator>
</section>
