@import "../../scss/var";
@import "../../scss/mixins.scss";
$padding: 20px;
section {
  .search-filter {
    @include fpos(baseline, flex-end);
    margin-top: 22px;
    gap: 10px;
    .label {
      @include fpos(center, "");
    }
    input {
      padding: 7px 0px;
    }
  }
  ::ng-deep{
    .cdk-overlay-pane{
      top: 355px !important;
      left: 387px !important;
    }
    .mat-select-panel{
      min-width: 60px !important;
      margin-left: 15px !important;
    }
  }
  .table {
    table {
      width: 100%;
      margin-top: 50px;
      th {
        border-top: 1px solid $border-color;
        font-size: 14px;
        font-weight: 400;
        word-spacing: normal;
        color: $black-color;
        padding-left: $padding;
      }
      tr {
        td {
          padding-left: $padding;
          .text-success{
            color: green;
          }
          .text-danger{
            color: red;
          }
        }
        th {
          border-right: 1px solid $border-color;
          &:last-child {
            border-right: none !important;
          }
        }
      }
      .mat-column-demo-position {
        width: 32px;
        border-right: 1px solid currentColor;
        padding-right: 24px;
        text-align: center;
      }
      td.mat-cell:first-of-type {
        border-right: 1px solid $border-color;
      }

      .mat-row {
        &:nth-child(odd) {
          background-color: rgba(24, 28, 33, 0.025);
        }
      }
    }
  }
  ::ng-deep {
    .mat-paginator-range-label {
      position: absolute;
      left: 0px;
      margin: 0 32px 0 10px;
      &::before {
        content: "Showing";
      }
      &::after {
        content: "entries";
      }
    }
    .mat-select-value {
      text-align: center !important;
    }
    .mat-paginator-page-size {
      display: flex;
      align-items: baseline;
      margin-right: 8px;
      position: absolute;
      top: 70px;
      left: 0px;
    }
    .mat-form-field-infix {
      border: 1px solid $border-color !important;
    }

    .mat-paginator-icon {
      width: 4px !important;
    }
    button.mat-focus-indicator.mat-tooltip-trigger.mat-paginator-navigation-previous.mat-icon-button.mat-button-base::before {
      content: "Previous";
      font-size: 13px;
    }
    button.mat-focus-indicator.mat-tooltip-trigger.mat-paginator-navigation-next.mat-icon-button.mat-button-base::before {
      content: "Next";
      font-size: 13px;
    }
    .mat-paginator-range-actions {
      gap: 15px;
    }
    .mat-paginator-page-size.ng-star-inserted::after {
      content: "entries";
      @include matPaginatorLabel();
    }
    .mat-paginator-page-size.ng-star-inserted::before {
      content: "Show";
      @include matPaginatorLabel();
    }
    .mat-paginator-page-size-label {
      display: none;
    }
  }

}

@media (max-width: 1030px) {
  section {
    .table {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 5px;
        height: 3px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $sidenav-scroll-color;
      }
    }
  }
}
@media (max-width: 550px) {
  section {
    .search-filter {
      margin-top: 60px !important;
    }
  }
}
@media (max-width: 359px) {
  section {
    .search-filter {
      flex-direction: column !important;
    }
  }
}
@media (max-width: 319px) {
  ::ng-deep {
    .mat-paginator-range-actions {
      display: block !important;
    }
    button.mat-focus-indicator.mat-tooltip-trigger.mat-paginator-navigation-previous.mat-icon-button.mat-button-base::before {
      margin-left: -15px;
    }
  }
}
