@import "../basic-information/basic-information.component.scss";
@import "src/app/scss/_error.scss";
section {
  .card2 {
    margin-top: 20px;
  }
  .basic-card {
    .content {
      .form {
        .inputs {
          gap: 40px;
          .topField {
            margin-top: -25px !important;
          }
          .formfield {
            .increaseFormfield {
              width: 550px;
            }
          }
        }
        .addressFormfield {
          width: auto;
        }
      }
    }
  }
}
@media (min-width: 1025px) and (max-width: 1320px) {
  section {
    .basic-card {
      .content {
        .form {
          .inputs {
            .formfield {
              .increaseFormfield {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 660px) {
  section {
    .basic-card {
      .content {
        .form {
          .inputs {
            .formfield {
              .increaseFormfield {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 150px) and (max-width: 320px) {
  section {
    .basic-card {
      .content {
        .form {
          .inputs {
            .formfield {
              .increaseFormfield {
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
}
