@import "../basic-information/basic-information.component.scss";

section {
  .card2 {
    margin-top: 20px;
  }
  .basic-card {
    .content {
      .form {
        .inputs {
          gap: 40px;
          .topField {
            margin-top: -25px !important;
          }
          .formfield {
            .increaseFormfield {
              width: 550px;
            }
          }
        }
        .addressFormfield{
          width: auto;
        }
      }
    }
  }
}

